# Copier ce fichier en .env et remplir les valeurs avant de lancer Docker

# ── Base de données ──────────────────────────────────────────────────────────
DB_PASSWORD=jCcs8O4hpw_tU60WL0vtR1lEFOQ66FlW

# ── JWT ──────────────────────────────────────────────────────────────────────
JWT_KEY=CjicohCEZFzMj8ER5DYad6/azVaUHYaLLQziPJYX6GtMhvHsi0AKBjeR11X71YdE

# ── URL publique de l'application (CORS) ─────────────────────────────────────
# Mettre ici le domaine une fois acheté, ex: https://pronoz.fr
APP_URL=http://141.94.92.236:8081

# ── Port interne exposé à Caddy ──────────────────────────────────────────────
# Ne pas changer sauf conflit de port
APP_PORT=8081
